/* add header div element to html file for h1 and the p; add id for p element*/
header {
    background-color: #A9B6E0;
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: "Times New Roman", Times, serif;
    font-weight: 400;
    color: #F5EBD0;
    /* change font family*/
}

#form {
    /* add margin like a nav-bar;  */
    background-color: #304485;
    width: 100%;
    padding: 10px;
    margin: 0;
    justify-content: center;
    /*add padding/border; make it touch the bottom of the header color bar; alignment center*/
}

#user-input{
    border-radius: 10px;
    size: 25px; /*maybe use width and height intead?*/;
}

#enter{
    border-radius: 10px;
    size: 25px; /*maybe use width and height intead?*/;
}

body{
    background-color: #EBEBEB;
}





